body {
  padding: 50px;
  font: 18 "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

th, td {
  text-align: center;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.form-remove {
  display: initial;
}